<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body{
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <header>


      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Digital Gament System</a>

        <ul class="navbar-nav">

          {% if user.is_authenticated %}
          <li class="nav-item {{ach}}">
            <a class="nav-link" href="/">Home</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'controller:login' %}">login</a>
          </li>

          <li class="nav-item {{ac}}">
            <a class="nav-link" href="{% url 'controller:signup' %}">signup{{acsign}}</a>
          </li>
          {% endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'controller:logout' %}">Logout</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Setting
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
          {% endif %}


        </ul>
      </nav>
      <br>






    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>