{% extends 'base.html' %}
{% block title %}Hello, {{user}}{% endblock %}
{% block content %}


  <div class="container">

    <h2 style="margin-left: 40%;">Welcome</h2>
    <div id="container" style="margin-top:100px;">
      <div class="card" style="margin-right: 25%; margin-left: 25%;">
          <div class="card-header bg-success text-white" style="font-size: 20px;"><b>{{user}}, Successfully Logged In</b></div>
          <div class="card-text" style="margin-top: 8px;margin-left:8px;"><i>Name: </i><b>{{user}}</b></div>
          <div class="card-text" style="margin-top: 8px;margin-left:8px;"><i>Email: </i><b>{{user.email}}</b></div>
          <div class="card-text" style="margin-top: 8px;margin-left:8px;"><i>Joined at: </i><b>{{user.date_joined}}</b></div>
          <div class="card-text" style="margin-top: 8px;margin-left:8px;"><i>Last login at: </i><b>{{user.last_login}}</b></div>
          <div class="card-text" style="margin-top: 8px;margin-left:8px;"><i>User: </i><b>{{user.groups.all.0.name}}</b></div>
      </div>
  </div>

  </div>


{% endblock %}