{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title %}{{user}} (Order Status List){% endblock %}
{% block content %}



{% if messages %}
<div class="messages" id="message">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}






<div class="container">

<h2>Orders status List ({{Order_Status.count}})</h2>
  {% if Order_Status.count < 1 %}
  <h3 style="margin-left:40%;">Nothing to show.</h3>
  {% else %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">  
    <tr>  
        <th>No</th>  
        <th>Product Name</th>  
        <th>Product Color</th>  
        <th>Product Description</th>
        <th>Order Code</th>
        <th>Quantity</th>
        <th>Delivered</th>  
    </tr>  
    </thead>  
    <tbody>
        {%for order in Order_Status%} 
    <tr>  
        <td>{{forloop.counter}}</td>  
        <td>{{order.product_name}}</td>  
        <td>{{order.product_colour}}</td>  
        <td>{{order.description}}</td>
        <td>{{order.order_code}}</td>  
        <td>{{order.product_quantity}}</td>
        <td>{{order.deliverd}}</td>
        
    </tr>  
     {%endfor%}
    </tbody>
    </table>
 {% endif %} 
  </div>


  {% endblock %}