{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title %}{{user}} (Order List){% endblock %}
{% block content %}



{% if messages %}
<div class="messages" id="message">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


<div class="container">
{% if order.count < 1 %}
<h2 style="margin-left:40%;">No Order</h2>
{% else %}
<h2> Order List ({{order.count}})</h2>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">  
    <tr>  
        <th>No</th>  
        <th>Product</th>  
        <th>Design</th>  
        <th>Color</th>
        <th>Buyer</th>  
        <th>Status</th>  
        <th>Created Date</th>
        <th>Update</th>
        <th>Delete</th>   
    </tr>  
    </thead>  
    <tbody>
        {%for order in order%} 
    <tr>  
        <td>{{forloop.counter}}</td>  
        <td>{{order.product.name}}</td>  
        <td>{{order.design}}</td>  
        <td>{{order.color}}</td>
        <td>{{order.buyer}}</td>  
        <td>{{order.status}}</td>  
        <td>{{order.created_date}}</td>
        <td><a href="/inventory/editord/{{ order.id }}/"><i class='fas fa-pencil-alt'></i> Edit</a></td>
        <td><a href="/inventory/deleteord/{{ order.id }}/"><i class='fas fa-trash-alt'></i> Delete</a></td>
         
    </tr>
    </tbody>  
     {%endfor%}
</table>
{%endif%}
  
  </div>

{% endblock %}    