<html>
<head>
  <title>Owner</title>
<style>
th, td {
  border: 1px solid black;
}
th, td {
  padding: 0px;
}
</style>
</head>
<body>
<h4>
  User Info :
</h4>

<table align="left" height="wrapcontent", width="200">
  <tr>
    <th align="left">User ID</th>
    <th>: </th>
     <td>20155</td>
  </tr>
  <tr>
    <th align="left">Type</th>
    <th>: </th>
    <td>Owner</td>
  </tr>
</table>

<div style="clear:both;"></div>

<h4>
  Monthly Report : June'2020
</h4>

<table align="left" height="wrapcontent", width="300">
  <tr>
    <th align="left">Total Sale</th>
    <th>: </th>
     <td>100</td>
  </tr>
  <tr>
    <th align="left">Total Order</th>
    <th>: </th>
     <td>200</td>
  </tr>
  <tr>
    <th align="left">Total Cost</th>
    <th>: </th>
     <td>20,00000 /=</td>
  </tr>
  <tr>
    <th align="left">Total Profit</th>
    <th>: </th>
    <td>10,0000 /=</td>
  </tr>
</table>

<div style="clear:both;"></div>

<h4>
  All transanction records :
</h4>

<table border="1" align="left" height="wrapcontent", width="700">
  <tr border="1">
    <th>Serial No.</th>
    <th>Date</th>
    <th>Time</th>
    <th>Tnx ID</th>
    <th>Tnx Type</th>
    <th>Amount</th>
  </tr>
  <tr>
     <td>01</td>
     <td>02/03/2020</td>
     <td>01:04:56</td>
     <td>2017331555</td>
     <td>Cash Deposit</td>
     <td>2,00000/=</td>
  </tr>
  <tr>
     <td>01</td>
     <td>02/03/2020</td>
     <td>01:04:56</td>
     <td>2017331555</td>
     <td>Cash Deposit</td>
     <td>2,00000/=</td>
  </tr>
  <tr>
     <td>01</td>
     <td>02/03/2020</td>
     <td>01:04:56</td>
     <td>2017331555</td>
     <td>Cash Deposit</td>
     <td>2,00000/=</td>
  </tr>
  <tr>
     <td>01</td>
     <td>02/03/2020</td>
     <td>01:04:56</td>
     <td>2017331555</td>
     <td>Cash Deposit</td>
     <td>2,00000/=</td>
  </tr>
  <tr>
     <td>01</td>
     <td>02/03/2020</td>
     <td>01:04:56</td>
     <td>2017331555</td>
     <td>Cash Deposit</td>
     <td>2,00000/=</td>
  </tr>
  <tr>
     <td>01</td>
     <td>02/03/2020</td>
     <td>01:04:56</td>
     <td>2017331555</td>
     <td>Cash Deposit</td>
     <td>2,00000/=</td>
  </tr>
</table>

</body>
</html>