{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title %}{{user}} (Order a Product){% endblock %}
{% block content %}



{% if messages %}
<div class="messages" id="message">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="container">

  {% if product_p.count < 1 %}
  <h2 style="margin-left:40%;">No List</h2>
  {% else %}
  <h2>Product price list ({{product_p.count}})</h2>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">  
    <tr>
        <th>no</th>    
        <th>Product Name</th>  
        <th>Product price</th>   
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>
      {% for pp in product_p %}  
    <tr>  
        <td>{{forloop.counter}}</td>  
        <td>{{pp.Product_Name}}</td>  
        <td>{{pp.Product_price}}</td>   
        <td>
          {%if not seller%} 
            <a href="{% url 'controller:pos:update' pp.id %}"  width="50%" align="left"><i class='fas fa-pencil-alt'></i> Update</a> ||
            <a href="{% url 'controller:pos:delete' pp.id %}"  width="50%" align="right"><i class='fas fa-trash-alt'></i> Delete</a>
            {%else%}
            <a href="{% url 'controller:pos:order' pp.id %}" class="button1 button1" width="50%" align="right"><i class='fa fa-shopping-cart'></i> Order</a>
            {%endif%}
        </td>  
    </tr>  
    {% endfor %}
     
     
    </tbody>  
</table>  
<br>  
<br> 
{%if not seller%} 
<center><a href="{% url 'controller:pos:addproductprice' %}"> <button class="btn btn-primary">New Product </button></a></center>
{%endif%}

{%endif%}

</div>


{% endblock %}