{% extends 'base.html' %}
{% block title %}{{user}} (Product){% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
    {% if messages %}
    <div class="messages" id="message">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

<div class="container">


<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">  
    <tr>  
        <th>Username</th> 
        <th>Option</th>   
    </tr>  
    </thead>  
    <tbody>
        {% for vendor in vendors%} 
    <tr>  
        <td>{{vendor.user.username}}</td>   
        <td>  
            <a href="{% url 'controller:edit' vendor.pk %}" class="button button" width="50%" align="left">Edit</a>
            <a href="{% url 'controller:delete' vendor.pk %}" class="button1 button1" width="50%" align="right">Delete</a>
        </td>  
    </tr> 
    {% endfor %} 
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="" class="button button">Add New Product</a></center>
</div>

{% endblock %}  